html, button, input, select, texarea {color: #222;}
body{
  font-size: 1em;
  line-height: 1.4px;
  font: 16px Helvetica; /*tipo de fuente*/
}
h1{
font-family: 'Pangolin', cursive;
}
h1{
text-shadow:48px -35px 5px #000000;
}
h2{
  font-family: 'Oswald', sans-serif;
}
h2{
  text-shadow:45px -24px 3px #0b0380;
}
h3{
  font-family: 'Caveat Brush', cursive;
}
h3{
  text-shadow:45px 31px 3px #c2efff;
}
hr{
display: block;
height: 1px;
border: 0px;
border-top:1px solid #ccc;
margin: 1em 0;
padding: 0px;
}
.container{
  width: 90%;
  margin: 0 5%;
}
.header-container{
  border-bottom: 20px solid #e44d26;
}
.footer-container,
.main aside{
  border-top: 20px solid #e44d26;
}
.header-container,
.footer-container,
.main aside{
  background: #f16529;
}
.tittle{color:white;}

nav ul{
  margin: 0;
  padding: 0;
}
nav a{
  display: block;
  margin-bottom: 10px;
  padding: 15px 0;
  text-align: center;
  text-decoration: none;
  font-weight: bold;
  color: white;
  background: #e44d26;
}
nav a:hover,
nav a:visited{
color:white;
}
nav a:hover{
  text-decoration: underline;
}
.main{
  padding: 30px 0;
}
.main article h1{
font-size: 2em;
}
.main aside{
  color:white;
  padding:0px 5% 10px;
}
.footer-container footer{
color: white;
padding: 20px 0;
}
.clearfix:before,
.clearfix:after,{
  content:"";
  display: table;
}
@media only screen and (min-width: 480px){ /* se va aplicar unicamente a resoluciones mayores a 480 */
  h1{color:red;}
nav a{
float:left;
width: 27%;
margin: 25px 2%;
margin-bottom: 0;
}
nav li:first-child a{
  margin-left:0;
}
nav li:last-child a{
  margin-right:0;
}
nav ul li{
  display:inline;
}

}

@media only screen and (min-width: 760px) {
  .tittle{
    float:left;
  }
  nav{
    float:right;
    width:38%;
  }
  .main aside{
    float:right;
    width:28%;

  }
  .main article{
    float:left;
    width:57%;
  }
}

@media only screen and(min-width: 1100px){
  .content{
    width: 1026px;
    margin: 0 auto;
  }
}
